<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entry</key>
	<dict>
		<key>cell</key>
		<string>PSLinkCell</string>
		<key>icon</key>
		<string>/Library/PreferenceLoader/Preferences/DSController.png</string>
		<key>label</key>
		<string>DisplayController</string>
	</dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Preferences</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Locked Apps</string>
			<key>isController</key>
			<true/>
			<key>bundle</key>
			<string>DSPreferences</string>
			<key>use</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.zimm.libdisplaystack</string>
			<key>key</key>
			<string>reorder</string>
			<key>label</key>
			<string>Apps Can Reorder</string>
			<key>PostNotification</key>
			<string>com.zimm.libdisplaystack.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.zimm.libdisplaystack</string>
			<key>key</key>
			<string>overrideanimations</string>
			<key>label</key>
			<string>Override Animations</string>
			<key>PostNotification</key>
			<string>com.zimm.libdisplaystack.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.zimm.libdisplaystack</string>
			<key>key</key>
			<string>animations</string>
			<key>label</key>
			<string>Animations</string>
			<key>PostNotification</key>
			<string>com.zimm.libdisplaystack.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Tutorial</string>
			<key>isController</key>
			<true/>
			<key>bundle</key>
			<string>DSPreferences</string>
			<key>use</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>Copyright 2010 Dan Zimmerman</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>Thanks to Dustin Howett, Lance Fetters,</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>Optimo, Ryan Petrich, Aljama, Josh Straitiff,</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>Jimmy Emrich</string>
		</dict>
	</array>
	<key>title</key>
	<string>DisplayController</string>
</dict>
</plist>
