Package: com.zimm.libdisplaystack
Name: libdisplaystack
Depends:mobilesubstrate
Version: 2.0
Architecture: iphoneos-arm
Description: Library for launching and exiting apps
Maintainer: dan zimmerman
Author: Dan Zimmerman <daniel.zimmerman@me.com>
Section: Development
